body {
    font-family: 'IBM Plex Sans',sans-serif;

}

nav {
    background-color: rgb(247, 247, 247,.7)!important;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

:root {
  font-size: 0.8125em;
}
@media (min-width: 40.625em) {
  :root {
    font-size: 2vw;
  }
}
@media (min-width: 56.25em) {
  :root {
    font-size: 1.125em;
  }
}

body {
  color: #333;
  font-family: 'IBM Plex Sans',  sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, strong {
  font-weight: 800;
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
@media (max-width: 37.5em) {
  h1 {
    font-size: 1.5em;
    margin-bottom: .9em;
  }
}

h2 {
  font-size: 2.25em;
  line-height: 1.333333333;
  margin-bottom: 0.666666666em;
}
@media (max-width: 37.5em) {
  h2 {
    font-size: 1.3125em;
    line-height: 1.142857142;
    margin-bottom: 1.142857142em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .9em;
}
@media (max-width: 37.5em) {
  h3 {
    font-size: 1.125em;
    line-height: 1.333333333;
    margin-bottom: 1.333333333em;
  }
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}
@media (max-width: 37.5em) {
  p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.45em;
  }
}

