{% extends "layout.html" %}
{% block header %}
  <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/axon.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/particle.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/particle_system.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/neuron_system.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/neuron.js"></script>
    <script language="javascript" type="text/javascript" src="../static/Neural_Net_Assembly/sketch.js"></script>
     <style>
  body {
      overflow-x: hidden!important;
      overflow-y: hidden!important;
      margin: 0 0!important;
  }
     </style>
{% endblock %}
