{% extends "layout.html" %}
{% block header %}
  <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.js"></script>
  <script language="javascript" type="text/javascript" src="../static/spaceshuttlegame_js/sketch.js"></script>
  <script language="javascript" type="text/javascript" src="../static/spaceshuttlegame_js/mover.js"></script>
  <script language="javascript" type="text/javascript" src="../static/spaceshuttlegame_js/particle.js"></script>
  <script language="javascript" type="text/javascript" src="../static/spaceshuttlegame_js/particlesystem.js"></script>
     <style>
  body {
      overflow-x: hidden!important;
      overflow-y: hidden!important;
      margin: 0 0!important;
  }
     </style>
{% endblock %}
